__pycache__/
*.pyc
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*/submission_package/main.pdf
*/submission_package/main.aux
*/submission_package/main.bbl
*/submission_package/main.blg
*/submission_package/main.log
*/submission_package/main.out
